 .u-section-1 {
  background-image: none;
  min-height: 935px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-image-1 {
  background-image: url("../images/E82un6EWEAExHOg.jpg");
  min-height: 835px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 835px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 60px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-weight: 700;
  text-transform: uppercase;
  margin: 49px 0 0;
}

.u-section-1 .u-form-1 {
  height: 455px;
  width: 495px;
  margin: 32px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: auto;
}

.u-section-1 .u-form-group-2 {
  margin-left: auto;
}

.u-section-1 .u-form-group-3 {
  margin-left: auto;
}

.u-section-1 .u-form-group-4 {
  margin-left: auto;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: auto;
  letter-spacing: normal;
}

.u-section-1 .u-text-2 {
  margin: -230px 110px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 831px;
  }

  .u-section-1 .u-image-1 {
    min-height: 689px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 689px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-form-1 {
    width: 370px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 688px;
  }

  .u-section-1 .u-image-1 {
    min-height: 528px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-form-1 {
    width: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 89px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1021px;
  }

  .u-section-1 .u-image-1 {
    min-height: 792px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 762px;
  }

  .u-section-1 .u-image-1 {
    min-height: 499px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 783px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -228px;
    margin-right: 40px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 364px;
}

.u-section-2 .u-table-1 {
  margin: 42px auto 60px 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}