
body{
background-image: linear-gradient(red, yellow, red);
}

div:not(.foot){
	margin-left:175px;
	margin-right:200px;
	font-size:20px;
	font-family:arial;
	text-align:justify;
	line-height:150%;
}

h1:nth-child(1){
	font-size:40px;
	font-family:Comic Sans MS;
	text-transform:uppercase;
	text-decoration:underline;
	text-align:center;
	margin:50px auto;
}


div:not(.foot) h2{
	font-size:20px;
	font-family:Comic Sans MS;
	text-transform:uppercase;
	text-align:left;
	margin:20px auto;
	font-weight:bold;
}


div:not(.foot) p{
	text-indent:40px;
	margin:40px 0px;
}


/*Compatibilidad*/

div:not(.foot){
	background-color:white;
	border:black solid 3px;
	padding:20px;
	border-radius:10px;
	margin-bottom:30px;
}


div.foot{
	background-color:black;
	padding:20px;
	margin:60px 0px 0px 0px;
	font-size:20px;
	font-family:Comic Sans MS;
	color:white;
	border-radius:50px;
	border:white solid 3px;
}


.foot td:nth-child(1){
	padding-right:200px;
}

td,table{
	border:black solid 3px;
	padding:10px;
	text-align:center;
}



