body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
      background: url("img/cesped.jpg") repeat-x scroll 0 0;
      text-align: center;
      padding: 3vw 3vw 3vw 3vw;
    }
  header img.logo {
    float: left;
    height: 4.5em;
    vertical-align: center;
  }
  header img.letras {
    margin: auto;
    vertical-align: center;
    width: 80%;
    max-width: 500px;
  }
  header img.user {
    vertical-align: top;
    height: 60px;
    float: right;
    vertical-align: center;
  }
  
    /* The navbar container */
  .topnav {
      overflow: hidden;
      background-color: #000;
      display: flex;

      align-items: center;
      margin: auto;
      
    }
    
    /* Navbar links */
    .topnav a {
      font-size: calc(1.6vw);
      /* vw proporción al ancho de la pantalla */
      /* vh proporción al alto de la pantalla */
      color: white;
      text-align: center;
      padding: 14px 3.5em;
      text-decoration: none;
      align-items: center;
      margin: auto;

    }
    
    /* Links - change color on hover */
    .topnav a:hover {
      background-color: white;
      color: black;
      align-items: center;
      margin: auto;
    }


    /*Estilo del index*/
  
    .div1 {
      display: flex;
      align-items: flex-start;
      margin: 30px 0px;
    }
  
    .div1 .content {
      margin:30px;
      text-align: justify;
    }
  
    .div1 img {
      flex: 1;
      padding: 10px;
      height: 30vw;
      margin-top:20px;
      margin-right:20px;
    }



    /*Estilo de noticias*/
    h1 {
      text-align: center;
      margin:40px 0px 0px 40px;
      font-size: 4em;
      margin-bottom: 50px;
    }
  
    .noticia {
      display: flex;
      align-items: center;
      border: 5px solid #000;
      border-radius: 45px;
      margin: 25px auto;
      max-width: 1000px;
    }
  
    .noticia .content {
      margin:40px;
      text-align: justify;
    }
  
    .noticia img {
      flex: 1;
      padding: 10px;
      height: 20vw;
      margin: auto;
    }

    div.pasar {
      font-size: calc(1.6vw);
      text-align: center;
      padding: 14px 40px;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
    }
    div.pasar a {
      padding: 20px;
    }

    .noticia .iconitos img {
      height: 50px;
    }

    /*Noticia extendida*/
    .cuerpo {
      text-align: justify;
    }

    .cuerpo p {
      margin: 0px 4vw 4em 4vw;
    }

    .cuerpo img {
      width: 70%;
      display: block;
      margin: auto;

    }


    /*Estilo de restringido formularios*/

    .form-new {
      min-width: 400px;
      max-width: 900px;
      background: #24303c;
      padding: 30px;
      margin: 100px auto;
      border-radius: 4px;
      font-family: 'calibri';
      color: white;
    }

    .form-new select {
      border-radius: 10px;
    }
    
    .form-new h4 {
      font-size: 22px;
      margin-bottom: 20px;
      
    }
    
    .controlador {
      width: 95%;
      background: #24303c;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 20px;
      margin-right: 16px;
      border: 1px solid #1f53c5;
      font-family: 'calibri';	
      font-size: 18px;
      color: white;
    }
    
    .form-new p {
      height: 40px;
      text-align: center;
      font-size: 18px
    }
    
    .form-new a {
      text-decoration: none;
      color: white;
    }
    
    .form-new a:hover {
      text-decoration: underline;
    }
    
    .form-new .boton {
      width: 100%;
      background: #1f53c5;
      border: none;
      padding: 12px;
      color: white;
      margin: 16px 0;
      font-size: 16px;
      cursor: pointer;
    }

    .select1{
      display: inline-block;
      width: 20%;
      cursor: pointer;
      padding: 7px 10px;
      height: 42px;
      outline: 0; 
      border: 0;
      border-radius: 0;
      background: #f0f0f0;
      color: #7b7b7b;
      font-size: 1em;
      color: #999;
      border:2px solid rgba(0,0,0,0.2);
      border-radius: 12px;
      position: relative;
      transition: all 0.25s ease;
    }

    textarea {
      overflow: auto;
      resize: none;
    }

    .formradio {
      margin-left: 50px;
    }

    /*Estilo de estadísticas*/

    .styled-table { 
      border-collapse: collapse; 
      margin: 50px auto; 
      font-size: 1em; 
      font-family: sans-serif; 
      min-width: 450px; 
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 
      max-width: 100px;
    }

    .options{
      text-align: center;
      column-count: 2;
      column-gap: 10px;
      margin-bottom: 50px;
      
    }

    .options ul { 
      list-style:none; 
  }
  
  .options ul li { 
      font-size:18px; 
      padding-bottom: 20px;
  }
  
  .options ul li a { 
      display:block; 
      width:75%;  
      background-color:#333; 
      border-left:5px solid #222; 
      border-right:5px solid #222; 
      padding-left:10px;
      padding-top:10px;
      text-decoration:none; 
      color:#bfe1f1; 
      border-radius: 10px;
      font-size: 2em;
      margin:auto;
  }
  
  .options ul li a:hover { 
      -moz-transform:rotate(-5deg); 
      -moz-box-shadow:10px 10px 20px #000000;
      -webkit-transform:rotate(-5deg); 
      -webkit-box-shadow:10px 10px 20px #000000;
      transform:rotate(4deg); box-shadow:10px 10px 20px #000000; 
      margin-left: 10px;
      margin:auto;
  }

    .styled-table thead tr { 
      background-color: #980081; 
      color: #ffffff; 
      text-align: middle; 
    }

    .styled-table th, .styled-table td { 
      padding: 12px 15px; 
      text-align: middle;
    }

    .styled-table tbody tr { 
      border-bottom: 1px solid #dddddd; 
    }

    .styled-table tbody tr:nth-of-type(even) { 
      background-color: #f3f3f3; 
    }

    .styled-table tbody tr:last-of-type { 
      border-bottom: 2px solid #009879; 
    }

    .deco {
      text-align: center;
    }

    .deco img {
      max-height: 500px;
    }

    /*Partidos*/
    .partidosinfo a:link, .partidosinfo a:visited, .partidosinfo a:active{
      text-decoration:none;
      color: rgb(255, 255, 255);  
  }
  .partidosinfo select{
   background-color: purple;
   color: white;
   font-weight: bolder;
  }
    .partidosinfo td.equipo1{
      text-align: right;
    }
    .partidosinfo td.equipo2{
      text-align: left;
    }   
    .partidosinfo td.marcador{
      text-align: center;
      background-color: purple;
      color:white
    } 

    /*Partidos Info*/
    
    div.resul {
      display: flex;
      margin: auto;
      max-width: 20000000px;
      text-align: center;
      margin-bottom: 60px;
    }

    .resul img#img1 {
      width: 200px;
      margin: 0px 0px 0px auto;
    }
    .resul img#img2 {
      width: 200px;
      margin: 0px auto 0px 0px;
    }


    .resul p {
      width: 90px;
      color: #494B4D;
      font-size: 40px;
      font-weight: bolder;
      margin-top: 70px;
    }

    table.partidosinfo {
      margin: 0px auto 50px auto;
      max-width: 900px;
      text-transform: none;
      text-transform: none;
    }
    .partidosinfo img{
      width: 20px;
      height: 20px;
    }
    .partidosinfo td.jugador1{
      text-align: right;
      padding-right: 20px;
    }    
    .partidosinfo td.jugador2{
      text-align: left;
      padding-left: 20px;
    }    
    .partidosinfo td.tiempo{
      background-color: rgba(165, 165, 165, 0.9);
      width: 50px;
      text-align: center;
    }
    .partidosinfo table , td, th {
      border: 1px solid #595959;
      border-collapse: collapse;
      width: 1000px;
      height: 20px
    }
    .partidosinfo caption {
      background-color: purple;
      color: white;
      font-weight: bold;
      padding: 20px;
    }

    .partidosinfo td, th {
        padding: 10px;
    
    }
    .partidosinfo th {
      background: #f0e6cc;
      background-color: #1B1B1B;
      color: white;
      font-weight: bold;
      padding: 20px;
    }
    .partidosinfo .even {
        background: #fbf8f0;
    }
    .partidosinfo .odd {
        background: #fefcf9;
    }

    /*Estilo de tienda*/

    .wrap {
      max-width: 1100px;
      width: 90%;
      margin: auto;
    }
    
    .wrap h1 {
      color: #494B4D;
      font-weight: 400;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 30px ;
      padding-top: 30px;
    }
    
    .wrap > h1:after{
      content: '';
      width: 100%;
      height: 1px;
      background: #C7C7C7;
      margin: 20px 0;
    }

    section {
      min-height: 1vh;
      display: flex;
      align-items: center;
      margin-bottom: 40px;
  }
  
  form {
    margin: 0 auto;
}
  
  form > div.busqueda {
      display: flex;
      background: #fff;
      padding: 9px 22px 9px 26px;
      border-radius: 30px;
      border: 2px solid #cad3dc;
      box-shadow: rgba(255, 255, 255, 0.5) -8px -8px -15px,
          rgba(0, 0, 0, 0.1) 10px 10px 10px,  
          rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
          rgba(0, 0, 0, 0.1) 10px 10px 10px inset,    
      ;
      max-width: 300px;
      margin: auto;
  }
  
  form .busqueda input{
      border: none;
      background: transparent;
      font-weight: bold;
      padding-left: 24px;
      background-image: url(img/lupa.png);
      background-size: 16px;
      background-repeat: no-repeat;
      width: 300px;
      transition: all 1s;
  }
  
  
 .busqueda input:focus {
      outline: none;
      width: 300px;
  }

  .css-button-shadow-border-sliding--green {
    min-width: 80px;
    height: 30px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: #57cc99;
   z-index: 1;
  }
  .css-button-shadow-border-sliding--green:hover:after {
    width: 100%;
    left: 0;
  }
  .css-button-shadow-border-sliding--green:after {
    border-radius: 5px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
    background-color: #80ed99;
    right: 0;
  }
  .css-button-shadow-border-sliding--green:active {
    top: 2px;
  }
    
    .filtro > div {
      padding: 20px 0;
      border-bottom: 1px solid #ccc; 
      display: flex;
    }
    
    .filtro .checkbox label {
      display: inline-block;
      cursor: pointer;
      color: #FF4136;
      position: relative;
      padding: 5px 15px 5px 51px;
      font-size: 1em;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; 
      margin-right: 10px;
    }
    
    .filtro .checkbox label:hover {
      background: rgba(255, 65, 54, 0.1); 
    }
    
    .filtro .checkbox label:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 50%;
      background: none;
      border: 3px solid #FF4136; 
    }
    
    .filtro .checkbox label:before {
      border-radius: 3px; 
    }
    
    .filtro .checkbox input[type="checkbox"] {
      display: none; 
    }
    
    .filtro .checkbox input[type="checkbox"]:checked + label:before {
      display: none; 
    }
    
    .filtro .checkbox input[type="checkbox"]:checked + label {
      background: #FF4136;
      color: #fff;
      padding: 5px 15px; 
    }

    .filtro img {
      height: 30px;
      margin-left: 20px;
    }
 
  
    body div.tienda{
      margin: 0 auto;
      padding: 0 auto;
      box-sizing: border-box;
      max-width: 1200px;
      font-family: 'Lato';
      color: #333;
    }

    body div.tienda h1{
      text-align: center;
      margin:40px 0px 40px 40px;
      font-size: 4em;
    }

    div.tienda {
      font-family: Arial, Helvetica, sans-serif;
      color: black;
      text-transform: none;
      text-decoration: none;
    }
  
    div.tienda img{
      max-width: 100%;
    }
  
    div.tienda .container-items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
  
    div.tienda .item{
    border-radius: 10px;
    
  }
  
  div.tienda .item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  }
  
  div.tienda .item:hover img{
    transform: scale(1.2);
  }
  
  div.tienda .item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
  }
  
  div.tienda .item figure{
    overflow: hidden;
  }
  
  div.tienda .info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  div.tienda .price{
    font-size: 18px;
    font-weight: 900;
  }
  
  div.tienda .info-product button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
  }

  div.tienda .item .iconitos img {
    height: 50px;
  }

  /*Producto*/

  .producto {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .productinfo p {
    margin-bottom: 3rem;
  }

  .productinfo button{
    border: none;
    background: none;
    background-color: #000;
    color: #fff;
    padding: 1rem 1rem;
    cursor: pointer;
  }

  .producto p {
    font-size: 2rem;
  }

  .producto h3 {
    font-size: 3rem;
  }


  /*Carrito de la compra*/

  #carrito {
    margin: 30px auto;
    align-items: center;
  }
  
   /*Foter*/
  
   .fixed_footer{
    width: 100%;
    background: #111;
    z-index: -100;
    padding: 30px 0px;
    margin-top: 60px;
  }
    .fixed_footer p{
    color: #696969;
    column-count: 2;
    column-gap: 20px;
    font-size: 1em;
    font-weight: 300;
    margin: 30px;
  }

  .footer {
    display:flex;
}

  /*h4 footer*/

.footer .pPie {
    flex: 1;
    color: white;
    padding-left: 10%;
}
.footer .somos {
    flex: 1;
    color: white;
    padding-left: 10%;
}

  /*datos footer*/

  .footer1 {
    display:flex;
}
  .footer1 .pPie {
    flex: 1;
    color: rgb(104, 104, 104);
    padding-left: 10%;
}
.footer1 .somos {
    flex: 1;
    color: rgb(104, 104, 104);
    padding-left: 10%;
}

.footer2 {
  display:flex;
}
.footer1 .pPie {
  flex: 1;
  color: rgb(104, 104, 104);
  padding-left: 10%;
}
.footer1 .somos {
  flex: 1;
  color: rgb(104, 104, 104);
  padding-left: 10%;
}